.form{
  display: flex;
  flex: 1;
  flex-direction: row;
  background-image:url("./345.jpg") ;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 

  
  
}
.label{
  color:white;
  font-size: x-large;
}
.form1{
  width: 50vh;
  height: 50vh;
}